@font-face {
  font-family: "Barlow";
  src: url(./fonts/Barlow-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url(./fonts/Barlow-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Fraunces";
  src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url(./fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}
.display-none {
  display: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-gen {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.btn-create-plan {
  width: 217px;
  height: 56px;
  background-color: #0E8784;
  color: #FEFCF7;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  border-radius: 6px;
}

.company-logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.company-logo-name .company-logo-img {
  width: 24px;
  height: 24px;
}
.company-logo-name .company-name {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: #333D4B;
  font-size: 18px;
}
.company-logo-name {
  z-index: 2;
}

body {
  background-color: #F2F2F2;
  font-family: "Barlow", sans-serif;
  padding: 32px 24px 72px 24px;
  box-sizing: border-box;
}
body .main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
}
body .main-header .main-navigation {
  position: absolute;
  background: linear-gradient(to bottom, rgb(242, 242, 242), rgba(242, 242, 242, 0.1));
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 130px;
  box-sizing: border-box;
}
body .main-header .main-navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  font-size: 24px;
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
body .main-header .main-navigation ul a {
  color: #333D4B;
}
body .main-header .close-open-btns {
  z-index: 2;
}
body .main-section {
  margin-top: 40px;
}
body .main-section .section-introduction {
  text-align: center;
  padding: 105px 28px 100px 28px;
  box-sizing: border-box;
  color: #FEFCF7;
  background-image: url(./assets/home/mobile/image-hero-coffeepress.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body .main-section .section-introduction h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 37px;
}
body .main-section .section-introduction h1 span {
  display: block;
}
body .main-section .section-introduction p {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.7;
  margin-bottom: 42px;
}
body .main-section .section-our-collection {
  text-align: center;
  margin-top: 140px;
  color: #333D4B;
}
body .main-section .section-our-collection .section-header {
  position: relative;
  margin-bottom: 42px;
}
body .main-section .section-our-collection .section-header h2 {
  font-size: 45px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
}
body .main-section .section-our-collection .section-header .gradient {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(242, 242, 242, 0.9), rgba(242, 242, 242, 0.3));
  z-index: 2;
}
body .main-section .section-our-collection .product-list .product {
  margin-bottom: 65px;
}
body .main-section .section-our-collection .product-list .product:last-child {
  margin: 0;
}
body .main-section .section-our-collection .product-list .product .product-img {
  width: 200px;
  margin-bottom: 40px;
}
body .main-section .section-our-collection .product-list .product .product-name {
  font-size: 24px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 25px;
}
body .main-section .section-our-collection .product-list .product .about-product {
  max-width: 280px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 25px;
}
body .main-section .section-choose-us {
  margin-top: 140px;
  text-align: center;
  background-color: #2C343E;
  border-radius: 10px;
  padding: 100px 24px 614px 24px;
  box-sizing: border-box;
  color: #FEFCF7;
  position: relative;
}
body .main-section .section-choose-us .section-header {
  margin-bottom: 67px;
}
body .main-section .section-choose-us .section-header h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 30px;
}
body .main-section .section-choose-us .section-header p {
  font-size: 15px;
  line-height: 25px;
  max-width: 279px;
  margin: 0 auto;
  opacity: 0.7;
}
body .main-section .section-choose-us .benefits-list {
  position: absolute;
  width: calc(100% - 48px);
  left: 50%;
  transform: translateX(-50%);
}
body .main-section .section-choose-us .benefits-list .benefit-card {
  background-color: #0E8784;
  width: 100%;
  height: 382px;
  margin-bottom: 24px;
  padding: 70px 0px 57px 0px;
  box-sizing: border-box;
  border-radius: 8px;
}
body .main-section .section-choose-us .benefits-list .benefit-card:last-child {
  margin: 0;
}
body .main-section .section-choose-us .benefits-list .benefit-card .benefit-card-img {
  width: 72px;
  margin-bottom: 65px;
}
body .main-section .section-choose-us .benefits-list .benefit-card .benefit-name {
  font-size: 24px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 25px;
}
body .main-section .section-choose-us .benefits-list .benefit-card .benefit-description {
  font-size: 15px;
  line-height: 25px;
  max-width: 212px;
  margin: 0 auto;
}
body .main-section .section-how-it-works {
  margin-top: 700px;
  text-align: center;
}
body .main-section .section-how-it-works h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  color: #83888F;
  margin-bottom: 97px;
}
body .main-section .section-how-it-works .section-decoration {
  display: none;
}
body .main-section .section-how-it-works .order-steps-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  margin-bottom: 82px;
}
body .main-section .section-how-it-works .order-steps-list .about-order-step {
  color: #333D4B;
}
body .main-section .section-how-it-works .order-steps-list .about-order-step span {
  font-size: 72px;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: #FDD6BA;
}
body .main-section .section-how-it-works .order-steps-list .about-order-step .step-name {
  margin-top: 36px;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
}
body .main-section .section-how-it-works .order-steps-list .about-order-step .step-description {
  font-size: 15px;
  line-height: 25px;
  max-width: 327px;
  margin: 0 auto;
}
body .main-footer {
  margin-top: 120px;
  text-align: center;
  background-color: #2C343E;
  padding: 56px;
  box-sizing: border-box;
}
body .main-footer .footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
body .main-footer .footer-navigation .company-name {
  color: #FEFCF7;
}
body .main-footer .footer-navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 52px;
}
body .main-footer .footer-navigation ul a {
  font-size: 12px;
  color: #83888F;
  text-transform: uppercase;
}
body .main-footer .social-media-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

@media (min-width: 700px) {
  .company-logo-name {
    gap: 8px;
  }
  .company-logo-name .company-name {
    font-size: 24px;
  }
  .company-logo-name .company-logo-img {
    width: 28px;
    height: 28px;
  }
  body {
    padding: 40px 52px 72px 52px;
  }
  body .main-header {
    justify-content: space-between !important;
  }
  body .main-header .main-navigation {
    position: static;
    display: block !important;
    padding: 0;
    background: none;
    height: fit-content;
    width: fit-content;
  }
  body .main-header .main-navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    font-size: 12px;
  }
  body .main-header .main-navigation ul a {
    color: #83888F;
  }
  body .main-header .close-open-btns {
    display: none;
  }
  body .main-section {
    margin-top: 83px;
  }
  body .main-section .section-introduction {
    text-align: left;
    padding: 110px 60px 104px 60px;
    background-image: url(./assets/home/tablet/image-hero-coffeepress.jpg);
    background-position: right;
  }
  body .main-section .section-introduction h1 {
    font-size: 48px;
    margin-bottom: 40px;
  }
  body .main-section .section-introduction p {
    max-width: 368px;
    margin-bottom: 43px;
  }
}

/*# sourceMappingURL=coffeeroasters.css.map */
