

$main-white-background-color: #F2F2F2;
$white-font: #FEFCF7;
$dark-grey: #333D4B;
$darker-grey: #2C343E;
$light-grey: #83888F;
$main-green: #0E8784;
 

$font-barlow: "Barlow", sans-serif;
$font-fraunces: "Fraunces", sans-serif;


@font-face {
    font-family: "Barlow";
    src: url(./fonts/Barlow-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url(./fonts/Barlow-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Fraunces";
    src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Fraunces";
    src: url(./fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
}







///// general styles  // / / 

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-none {
    display: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    
}

////////

body {

    .main-section {
        
        .section-introduction {

            background-image: url(./assets/home/mobile/image-hero-coffeepress.jpg);

            h1 {

                span {
                    display: block;
                }
            }
        }


        .section-our-collection {
            text-align: center;
            margin-top: 140px;
            color: $dark-grey;
    
            .section-header {
                position: relative;
                margin-bottom: 42px;
    
                h2 {
                    font-size: 45px;
                    font-weight: 700;
                    font-family: $font-fraunces;
                }
    
                .gradient {
                    width: 100%;
                    height: 40px;
                    position: absolute;
                    bottom: 0;
                    background: linear-gradient(to top, rgba(242, 242, 242, 0.9), rgba(242, 242, 242, 0.3));
                    z-index: 2;
                }
            }
    
            .product-list {
    
                .product {
                    margin-bottom: 65px;
                    &:last-child {
                        margin: 0;
                    }
                    
                    .product-img {
                        width: 200px;
                        margin-bottom: 40px;
                    }
    
                    .product-name {
                        font-size: 24px;
                        font-weight: 700;
                        font-family: $font-fraunces;
                        margin-bottom: 25px;
                    }
    
                    .about-product {
                        max-width: 280px;
                        margin: 0 auto;
                        font-size: 15px;
                        line-height: 25px;
                    }
                }
            }
    
    
        }


        .section-choose-us {
            margin-top: 140px;
            text-align: center;
            background-color: $darker-grey;
            border-radius: 10px;
            padding:  67px 24px 614px 24px;
            box-sizing: border-box;
            color: $white-font;
            position: relative;
    
            .section-header {
                margin-bottom: 67px;
                h2 {
                    font-size: 28px;
                    font-weight: 700;
                    font-family: $font-fraunces;
                    margin-bottom: 30px;
                }
    
                p {
                    font-size: 15px;
                    line-height: 25px;
                    max-width: 279px;
                    margin: 0 auto;
                    opacity: 0.7;
                }
            }
    
            .benefits-list {
    
                position: absolute;
                width: calc(100% - 48px);
                left: 50%;
                transform: translateX(-50%);
    
                .benefit-card {
                    background-color: $main-green;
                    width: 100%;
                    height: 382px;
                    margin-bottom: 24px;
                    padding:  70px 0px 57px 0px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    
                    &:last-child {
                        margin: 0;
                    }
                    
    
                    .benefit-card-img {
                        width: 72px;
                        // height: 72px;
                        margin-bottom: 65px;
                    }
    
                    .benefit-name {
                        font-size: 24px;
                        font-weight: 700;
                        font-family: $font-fraunces;
                        margin-bottom: 25px;
                    }
    
                    .benefit-description {
                        font-size: 15px;
                        line-height: 25px;
                        max-width: 212px;
                        margin: 0 auto;
                    }
                }
            }
        }

        .section-with-decoration {
            margin-top: 700px;

            .articles-list {

                .about-article{

                    .article-span {
                        font-size: 72px;
                        font-family: $font-fraunces;
                        font-weight: 700;
                        color: #FDD6BA;
                    }
                }

            }

        }
    }


}


//   T A B L E T    S C R E E N

@media (min-width: 700px) {

    //// GENERAL  STYLES


    ///////////////////

    body {
        

        .main-section {

            .section-introduction {
                background-image: url(./assets/home/tablet/image-hero-coffeepress.jpg);
            }

            .section-our-collection {

                .section-header {
                    // position: relative;
                    // margin-bottom: 42px;
                    margin: 0;
        
                    h2 {
                        font-size: 115px;
                    }
        
                    .gradient {
                        height: 100px;
                        z-index: 0;
                    }
                }

                .product-list {
                    transform: translateY(-30px);

                    .product {

                        @include flex-row();
                        justify-content: center;

                        
                        .product-img {
                            width: 280px;
                            margin: 0;
                        }
        
                        .product-name {
                            margin-bottom: 34px;
                        }
        
                        .about-product {
                            text-align: left;
                        }
                    }
                }
            }

            .section-choose-us {
                margin-top: 150px;
                padding:  67px 57px 298px 57px;
        
                .section-header {
                    margin-bottom: 72px;

                    h2 {
                        font-size: 32px;
                        margin-bottom: 36px;
                    }
        
                    p {
                        max-width: 495px;
                    }
                }
        
                .benefits-list {
        
                    width: calc(100% - 114px);

                    .benefit-card {
                        background-color: $main-green;
                        height: 180px; 
                        padding:  70px 49px;

                        @include flex-row();
                        justify-content: center;
                        gap: 55px;

                        text-align: left;
                        
                        &:last-child {
                            margin: 0;
                        }
                        
        
                        .benefit-card-img {
                            margin: 0;
                        }
        
                        .benefit-description {
                            max-width: 300px;
                        }
                    }
                }
            }

            .section-with-decoration {

                h2 {
                    font-size: 24px;
                    margin-bottom: 47px;
                }

                //////   it has bug
                .articles-list {

                    .about-article {

                        .article-span {
                            font-size: 72px;
                            font-family: $font-fraunces;
                            font-weight: 700;
                            color: #FDD6BA;
                        }

                    }

                }

            }
        }
        
    }


}




/////  D E S K T O P   S C R E E N   


@media (min-width: 1290px) {

    body {

        .main-section {

            .section-our-collection {
                margin-top: 198px;

                .section-header {
        
                    h2 {
                        font-size: 200px;
                    }
        
                    .gradient {
                        height: 320px;
                    }
                }

                .product-list {
                    transform: translateY(-70px);
                    @include flex-row();
                    justify-content: space-evenly;
                    align-items: start;

                    .product {

                        @include flex-column();
                        justify-content: center;

                        
                        .product-img {
                            width: 280px;
                            margin-bottom: 100px;
                        }
        
                        .product-name {
                            margin-bottom: 34px;
                        }
        
                        .about-product {
                            text-align: center;
                            max-width: 255px;
                        }
                    }
                }
            }


            .section-choose-us {
                // margin-top: 150px;
                padding: 108px 85px 220px 85px;
        
                .section-header {
                    margin-bottom: 90px;

                    h2 { 
                        font-size: 40px;
                        margin-bottom: 50px;
                    }
        
                    p {
                        max-width: 535px;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
        
                .benefits-list {
        
                    width: calc(100% - 170px);
                    @include flex-row();
                    gap: 30px;
                    align-items: start;
                    justify-content: space-between;

                    .benefit-card {
                        width: 350px;
                        height: 382px; 
                        padding: 0;

                        @include flex-column();
                        justify-content: center;
                        gap: 65px;
                        text-align: center;
        
                        .benefit-description {
                            max-width: 255px;
                        }
                    }
                }
            }

            .section-how-it-works {

                .order-steps-list {

                    .about-article {

                        .article-tittle {
                            span {
                                display: block;
                            }
                        }
                    }

                }

            }
        }


    }
}
