$main-white-background-color: #F2F2F2;
$white-font: #FEFCF7;
$dark-grey: #333D4B;
$darker-grey: #2C343E;
$light-grey: #83888F;
$main-green: #0E8784;
 

$font-barlow: "Barlow", sans-serif;
$font-fraunces: "Fraunces", sans-serif;


@font-face {
    font-family: "Barlow";
    src: url(./fonts/Barlow-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url(./fonts/Barlow-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Fraunces";
    src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Fraunces";
    src: url(./fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
}

///// general styles  // / / 

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-none {
    display: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    
}

.btn-gen {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.btn-create-plan {
    width:  217px;
    height: 56px;
    background-color: $main-green;
    color: $white-font;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-fraunces;
    border-radius: 6px;

    &:hover {
        background-color: #66D2CF;
        transition: all 0.3s;
    }
}

.company-logo-name {
    @include flex-row();
    gap: 6px;

    .company-logo-img {
        width: 24px;
        height: 24px;
    }

    .company-name {
        font-family: $font-fraunces;
        font-weight: 700;
        color: $dark-grey;
        font-size: 18px;
    }

    z-index: 2;

}




body {

    .main-section {

        .section-introduction {
            background-image: url(./assets/about/mobile/image-hero-whitecup.jpg);
            background-position: right;
            margin-bottom: 120px;
        }
    
        .section--our-commitment {
            text-align: center;
            margin-bottom: 205px;
    
            .hero-img {
                width: 327px;
                height: 400px;
                border-radius: 10px;
                margin-bottom: 60px;
            }
    
            .section-tittle {
                font-size: 32px;
                font-family: $font-fraunces;
                font-weight: 700;
                color: $darker-grey;
                margin-bottom: 50px;
            }
    
            p {
                font-size: 15px;
                line-height: 25px;
                color: $dark-grey;
            }
             
        }
        
        .section--our-quality {
            background-color: $dark-grey;
            border-radius: 10px;
            text-align: center;
            position: relative;
    
            padding: 150px 28px 64px 28px;
            box-sizing: border-box;
            color: $white-font;
            margin-bottom: 125px;
    
            .section-img {
                width: 279px;
                height: 156px;
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    
            .section-tittle {
                font-size: 28px;
                font-family: $font-fraunces;
                font-weight: 700;
                margin-bottom: 30px;
            }
    
            p {
                font-size: 15px;
                line-height: 25px;
                opacity: 0.7;
            }
        }

        .section--our-headquarters {
            .articles-list {
                
                span {
                    display: block;
                    margin-bottom: 16px;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }



    }
    




}