@font-face {
  font-family: "Barlow";
  src: url(./fonts/Barlow-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url(./fonts/Barlow-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Fraunces";
  src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url(./fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}
.display-none {
  display: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-gen {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.btn-create-plan {
  width: 217px;
  height: 56px;
  background-color: #0E8784;
  color: #FEFCF7;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  border-radius: 6px;
}
.btn-create-plan:hover {
  background-color: #66D2CF;
  transition: all 0.3s;
}

.company-logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.company-logo-name .company-logo-img {
  width: 24px;
  height: 24px;
}
.company-logo-name .company-name {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: #333D4B;
  font-size: 18px;
}
.company-logo-name {
  z-index: 2;
}

body .main-section .section-introduction {
  background-image: url(./assets/about/mobile/image-hero-whitecup.jpg);
  background-position: right;
  margin-bottom: 120px;
}
body .main-section .section--our-commitment {
  text-align: center;
  margin-bottom: 205px;
}
body .main-section .section--our-commitment .hero-img--container {
  width: 327px;
  height: 400px;
  background-image: url(./assets/about/mobile/image-commitment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 60px;
}
body .main-section .section--our-commitment .section-tittle {
  font-size: 32px;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: #2C343E;
  margin-bottom: 50px;
}
body .main-section .section--our-commitment p {
  font-size: 15px;
  line-height: 25px;
  color: #333D4B;
}
body .main-section .section--our-quality {
  background-color: #333D4B;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 150px 28px 64px 28px;
  box-sizing: border-box;
  color: #FEFCF7;
  margin-bottom: 125px;
}
body .main-section .section--our-quality .section-img--container {
  width: 279px;
  height: 156px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./assets/about/mobile/image-quality.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body .main-section .section--our-quality .section-tittle {
  font-size: 28px;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
body .main-section .section--our-quality p {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.7;
}
body .main-section .section--our-headquarters .articles-list span {
  display: block;
  margin-bottom: 16px;
}
body .main-section .section--our-headquarters .articles-list span:last-child {
  margin: 0;
}

@media (min-width: 700px) {
  body .main-section .section-introduction {
    background-image: url(./assets/about/tablet/image-hero-whitecup.jpg);
    margin-bottom: 144px;
  }
  body .main-section .section--our-commitment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 850px;
    margin: auto;
    margin-bottom: 303px;
  }
  body .main-section .section--our-commitment .hero-img--container {
    width: 281px;
    height: 470px;
    background-image: url(./assets/about/tablet/image-commitment.jpg);
    margin: 0;
  }
  body .main-section .section--our-commitment .article--our-commitment {
    max-width: 339px;
    text-align: left;
  }
  body .main-section .section--our-quality {
    padding: 233px 76px 70px 76px;
    margin-bottom: 150px;
  }
  body .main-section .section--our-quality .section-img--container {
    width: 573px;
    height: 320px;
    background-image: url(./assets/about/tablet/image-quality.jpg);
  }
  body .main-section .section--our-quality p {
    max-width: 540px;
    margin: auto;
  }
  body .main-section .section--our-headquarters {
    margin: 0 !important;
  }
  body .main-section .section--our-headquarters .articles-list .about-article {
    width: 323px;
  }
}
@media (min-width: 1290px) {
  body .main-section .section-introduction {
    background-image: url(./assets/about/desktop/image-hero-whitecup.jpg);
  }
  body .main-section .section--our-commitment {
    max-width: 1110px;
    margin-bottom: 188px;
  }
  body .main-section .section--our-commitment .hero-img--container {
    width: 444px;
    height: 506px;
    background-image: url(./assets/about/desktop/image-commitment.jpg);
  }
  body .main-section .section--our-commitment .article--our-commitment {
    max-width: 540px;
  }
  body .main-section .section--our-quality {
    padding: 98px 86px 183px 86px;
    margin-bottom: 150px;
    text-align: left;
  }
  body .main-section .section--our-quality .section-img--container {
    width: 445px;
    height: 474px;
    background-image: url(./assets/about/desktop/image-quality.jpg);
    left: calc(100% - 86px);
    transform: translate(-100%, -88px);
  }
  body .main-section .section--our-quality p {
    margin-left: 0;
  }
}

/*# sourceMappingURL=stylesAbout.css.map */
