$main-white-background-color: #F2F2F2;
$white-font: #FEFCF7;
$dark-grey: #333D4B;
$darker-grey: #2C343E;
$light-grey: #83888F;
$main-green: #0E8784;
 

$font-barlow: "Barlow", sans-serif;
$font-fraunces: "Fraunces", sans-serif;


@font-face {
    font-family: "Barlow";
    src: url(./fonts/Barlow-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url(./fonts/Barlow-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Fraunces";
    src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Fraunces";
    src: url(./fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
}

///// general styles  // / / 

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-none {
    display: none !important;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    
}

.btn-gen {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.btn-create-plan {
    width:  217px;
    height: 56px;
    background-color: $main-green;
    color: $white-font;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-fraunces;
    border-radius: 6px;

    &:hover {
        background-color: #66D2CF;
        transition: all 0.3s;
    }
}

.company-logo-name {
    @include flex-row();
    gap: 6px;

    .company-logo-img {
        width: 24px;
        height: 24px;
    }

    .company-name {
        font-family: $font-fraunces;
        font-weight: 700;
        color: $dark-grey;
        font-size: 18px;
    }

    z-index: 2;

}





body {

    position: relative;

    .body-background {
        width: 100%;
        height: 100%;
        background-color: $dark-grey;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0.5;
    }

    .main-section {

        .section-introduction {
            background-image: url(./assets/plan/mobile/image-hero-blackcup.jpg);
            background-size: 120% !important;
            background-position: right;
            margin-bottom: 120px;
        }

        .section-with-decoration {
            width: calc(100% + 48px);
            transform: translateX(-24px);
            background-color: $darker-grey;
            padding: 90px 0px 80px 0px;
            box-sizing: border-box;
            // margin: 0px !important;

            .articles-list {

                .about-article {

                    .article-span {
                        font-size: 72px;
                        font-family: $font-fraunces;
                        font-weight: 700;
                        color: #FDD6BA;
                    }
                    
                    .article-tittle {
                        color: $white-font;
                    }
                    
                    .article-description {
                        color: $white-font;
                        opacity: 0.7;
                    }
                }
            }

        }

        .section-create-plan {
            margin-top: 125px;

            .section-aside {
                display: none;
            }
            
            .order-customization-form {

                @include flex-column();
                gap: 110px;
                
                .form-div {
                    width: 100%;
                    .question-container {
                        @include flex-row();
                        justify-content: space-between;

                        h3 {
                            font-family: $font-fraunces;
                            font-size: 24px;
                            color: $light-grey;
                            font-weight: 700;

                            span {
                                display: block;
                            }
                        }

                        .arrow-icon {
                            transform: rotate(-180deg);
                        }
                    }

                    .inputs-container {
                        margin-top: 37px;
                        @include flex-column();
                        gap: 15px;

                        .inp-label {
                            background-color: #eee8dd;
                            display: block;
                            position: relative;
                            padding: 33px 25px;
                            box-sizing: border-box;
                            border-radius: 8px;
                            color: $dark-grey;
                            cursor: pointer;
                            transition: all 0.3s;

                            h4 {
                                font-size: 24px;
                                font-weight: 700;
                                font-family: $font-fraunces;
                                margin-bottom: 18px;
                            }

                            p {
                                font-size: 15px;
                                line-height: 25px;
                            }

                            .inp-radio {
                                position: absolute;
                                z-index: -1;
                            }

                            &:hover {
                                background-color: #FDD6BA;
                            }

                            &:has(.inp-radio:checked) {
                                background-color: #0E8784;
                                color: $white-font;
                            }
                        }

                    }

                }

                .order-summary--div {
                    width: 100%;
                    background-color: $darker-grey;
                    border-radius: 8px;
                    padding: 50px 25px;
                    box-sizing: border-box;
    
                    h5 {
                        font-size: 15px;
                        color: $light-grey;
                        margin-bottom:  21px;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 24px;
                        font-family: $font-fraunces;
                        font-weight: 700;
                        color: $white-font;
                        line-height: 40px;
                        max-width: 255px;

                        span {
                            color: $main-green;
                        }
                    }
                }

            }



        }

    }

    .order-summary {
        background-color: $main-white-background-color;
        position: absolute;
        width: calc(100% - 48px);
        left: 50%;
        transform: translateX(-50%);
        top: 35px;
        z-index: 3;

        h2 {
            font-size: 32px;
            font-weight: 700;
            font-family: $font-fraunces;
            color: $white-font;
            background-color: $dark-grey;
            padding: 35px 25px;
            box-sizing: border-box;
        }

        .order-summary-main-text {
            margin-top: 52px;
            padding: 0px 25px;
            box-sizing: border-box;
            font-size: 24px;
            line-height: 40px;
            font-weight: 700;
            color: $light-grey;
            font-family: $font-fraunces;

            span {
                color: $main-green;
            }
        }

        .order-summary-sub-text {
            font-size: 15px;
            color: $dark-grey;
            opacity: 0.7;
            line-height: 25px;
            max-width: 255px;
            margin-left: 25px;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        button {
            width: 100%;
            height: 56px;
            background-color: $main-green;
            color: $white-font;
            font-size: 18px;
            font-weight: 700;
            font-family: $font-fraunces;
            border-radius: 6px;
        }

    }
    
}


//////  T A B L E T   S C R E E N / / / / /

@media (min-width: 700px) {

    body {

        .order-summary {
            background-color: $main-white-background-color;
            position: absolute;
            max-width: 540px;
            left: 50%;
            transform: translateX(-50%);
            top: 212px;
            z-index: 3;
            padding-bottom: 15px;

            .order-summary-main-text {
                padding: 0px;
                max-width: 428px;
                margin: auto;
                margin-top: 52px;


                span {
                    color: $main-green;
                }
            }

            .order-summary-sub-text {
                max-width: 428px;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 30px;
            }

            button {           
                display: block;
                margin: auto;
                max-width: 428px; 
            }

        }
            
        .main-section {
            // position: relative;

            .section-introduction {
                background-image: url(./assets/plan/tablet/image-hero-blackcup.jpg);
                background-size: cover;
                margin-bottom: 140px;
            }

            .section-with-decoration {
                margin: 0 !important;
                width: calc(100% + 104px);
                transform: translateX(-52px);
                padding: 96px 52px 66px 52px;

            }


            .section-create-plan {
                margin-top: 155px;

                .order-customization-form {
                    
                    .form-div {

                        .question-container {

                            h3 {
                                font-size: 32px;
                                
                                span {
                                    display: inline
                                }
                            }
                        }

                        .inputs-container {
                            margin-top: 45px;
                            @include flex-row();
                            gap: 5px;
                            
                            .inp-label {
                                width: 218px;
                                height: 250px;
                            }
                        }
                    }

                    .order-summary--div {
                        padding: 45px 35px;

                        p {
                            max-width: 602px;
                        }
                    }

                }

            }
        }
    }

}

@media (min-width: 1290px) {
    
    body {
        .main-section {

            .section-introduction {
                background-image: url(./assets/plan/desktop/image-hero-blackcup.jpg);
            }

            .section-with-decoration {
                width: 100%;
                transform: translateX(0px);
            }

            .section-create-plan {
                // background-color: #0E8784;
                @include flex-row();
                align-items: start;
                justify-content: center;
                gap: 124px;

                .section-aside {
                    display: block;

                    ul {
                        li {
                            font-size: 24px;
                            font-weight: 700;
                            color: $dark-grey;
                            font-family: $font-fraunces;
                            margin-bottom: 32px;
                            padding-bottom: 30px;
                            box-sizing: border-box;
                            border-bottom: 1px solid $light-grey;
                            width: 255px;
                            @include flex-row();
                            gap: 30px;
                            opacity: 0.5;
                            cursor: pointer;
                            transition: all 0.3s;

                            &:first-child {
                                opacity: 1;
                            }

                            span {
                                color: #0E8784;
                            }

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }

                .order-customization-form {
                    .form-div {
                        .question-container {
                            h3 {
                                font-size: 40px;
                            }
                        }

                        .inputs-container {
                            margin-top: 57px;
                            gap: 23px;
                        }
                    }

                    .order-summary--div {
                        padding: 32px 65px;
                    }

                    .btn-gen {
                        margin-left: 100%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}
