@font-face {
  font-family: "Barlow";
  src: url(./fonts/Barlow-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url(./fonts/Barlow-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Fraunces";
  src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url(./fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}
.display-none {
  display: none !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-gen {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.btn-create-plan {
  width: 217px;
  height: 56px;
  background-color: #0E8784;
  color: #FEFCF7;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  border-radius: 6px;
}
.btn-create-plan:hover {
  background-color: #66D2CF;
  transition: all 0.3s;
}

.company-logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.company-logo-name .company-logo-img {
  width: 24px;
  height: 24px;
}
.company-logo-name .company-name {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: #333D4B;
  font-size: 18px;
}
.company-logo-name {
  z-index: 2;
}

body .main-section .section-introduction {
  background-image: url(./assets/plan/mobile/image-hero-blackcup.jpg);
  background-size: 120% !important;
  background-position: right;
  margin-bottom: 120px;
}
body .main-section .section-with-decoration {
  width: calc(100% + 48px);
  transform: translateX(-24px);
  background-color: #2C343E;
  padding: 90px 0px 80px 0px;
  box-sizing: border-box;
}
body .main-section .section-with-decoration .articles-list .about-article .article-span {
  font-size: 72px;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: #FDD6BA;
}
body .main-section .section-with-decoration .articles-list .about-article .article-tittle {
  color: #FEFCF7;
}
body .main-section .section-with-decoration .articles-list .about-article .article-description {
  color: #FEFCF7;
  opacity: 0.7;
}
body .main-section .section-create-plan {
  margin-top: 125px;
}
body .main-section .section-create-plan .section-aside {
  display: none;
}
body .main-section .section-create-plan .order-customization-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 110px;
}
body .main-section .section-create-plan .order-customization-form .form-div {
  width: 100%;
}
body .main-section .section-create-plan .order-customization-form .form-div .question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .main-section .section-create-plan .order-customization-form .form-div .question-container h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 24px;
  color: #83888F;
  font-weight: 700;
}
body .main-section .section-create-plan .order-customization-form .form-div .question-container h3 span {
  display: block;
}
body .main-section .section-create-plan .order-customization-form .form-div .question-container .arrow-icon {
  transform: rotate(-180deg);
}
body .main-section .section-create-plan .order-customization-form .form-div .inputs-container {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
body .main-section .section-create-plan .order-customization-form .form-div .inputs-container .inp-label {
  background-color: #eee8dd;
  display: block;
  position: relative;
  padding: 33px 25px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #333D4B;
  cursor: pointer;
  transition: all 0.3s;
}
body .main-section .section-create-plan .order-customization-form .form-div .inputs-container .inp-label h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 18px;
}
body .main-section .section-create-plan .order-customization-form .form-div .inputs-container .inp-label p {
  font-size: 15px;
  line-height: 25px;
}
body .main-section .section-create-plan .order-customization-form .form-div .inputs-container .inp-label .inp-radio {
  position: absolute;
  z-index: -1;
}
body .main-section .section-create-plan .order-customization-form .form-div .inputs-container .inp-label:hover {
  background-color: #FDD6BA;
}
body .main-section .section-create-plan .order-customization-form .form-div .inputs-container .inp-label:has(.inp-radio:checked) {
  background-color: #0E8784;
  color: #FEFCF7;
}
body .main-section .section-create-plan .order-customization-form .order-summary--div {
  width: 100%;
  background-color: #2C343E;
  border-radius: 8px;
  padding: 50px 25px;
  box-sizing: border-box;
}
body .main-section .section-create-plan .order-customization-form .order-summary--div h5 {
  font-size: 15px;
  color: #83888F;
  margin-bottom: 21px;
  text-transform: uppercase;
}
body .main-section .section-create-plan .order-customization-form .order-summary--div p {
  font-size: 24px;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: #FEFCF7;
  line-height: 40px;
  max-width: 255px;
}
body .main-section .section-create-plan .order-customization-form .order-summary--div p span {
  color: #0E8784;
}

@media (min-width: 700px) {
  body .main-section .section-introduction {
    background-image: url(./assets/plan/tablet/image-hero-blackcup.jpg);
    background-size: cover;
    margin-bottom: 140px;
  }
  body .main-section .section-with-decoration {
    margin: 0 !important;
    width: calc(100% + 104px);
    transform: translateX(-52px);
    padding: 96px 52px 66px 52px;
  }
  body .main-section .section-create-plan {
    margin-top: 155px;
  }
  body .main-section .section-create-plan .order-customization-form .form-div .question-container h3 {
    font-size: 32px;
  }
  body .main-section .section-create-plan .order-customization-form .form-div .question-container h3 span {
    display: inline;
  }
  body .main-section .section-create-plan .order-customization-form .form-div .inputs-container {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  body .main-section .section-create-plan .order-customization-form .form-div .inputs-container .inp-label {
    width: 218px;
    height: 250px;
  }
  body .main-section .section-create-plan .order-customization-form .order-summary--div {
    padding: 45px 35px;
  }
  body .main-section .section-create-plan .order-customization-form .order-summary--div p {
    max-width: 602px;
  }
}
@media (min-width: 1290px) {
  body .main-section .section-introduction {
    background-image: url(./assets/plan/desktop/image-hero-blackcup.jpg);
  }
  body .main-section .section-with-decoration {
    width: 100%;
    transform: translateX(0px);
  }
  body .main-section .section-create-plan {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: start;
    justify-content: center;
    gap: 124px;
  }
  body .main-section .section-create-plan .section-aside {
    display: block;
  }
  body .main-section .section-create-plan .section-aside ul li {
    font-size: 24px;
    font-weight: 700;
    color: #333D4B;
    font-family: "Fraunces", sans-serif;
    margin-bottom: 32px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #83888F;
    width: 255px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;
  }
  body .main-section .section-create-plan .section-aside ul li span {
    color: #0E8784;
  }
  body .main-section .section-create-plan .section-aside ul li:hover {
    opacity: 0.7;
  }
  body .main-section .section-create-plan .order-customization-form .form-div .question-container h3 {
    font-size: 40px;
  }
  body .main-section .section-create-plan .order-customization-form .form-div .inputs-container {
    margin-top: 57px;
    gap: 23px;
  }
  body .main-section .section-create-plan .order-customization-form .order-summary--div {
    padding: 32px 65px;
  }
  body .main-section .section-create-plan .order-customization-form .btn-gen {
    margin-left: 100%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=stylesCreatePlan.css.map */
